/************ Top Movies Content ************/
.movie {
    margin: 2rem;
    border-radius: 3px;
    background-color: var(--gray);
}

.movie img{
    width:100%;
}

.movie-info{
    color:#202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem .9rem .5rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    color: var(--bg);
    font-weight: 700px;
    font-size: 1.8rem;
}

.movie-info span{
    background-color: rgb(94, 93, 93);
    padding: 0.6rem 0.8rem;
    border-radius: 3px;
    font-weight: 900px;
    font-size: 2rem;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: var(--cream);
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1.5rem;
    max-height: 100%;
}
.overview h3{
    color: var(--gray);
}

.overview p{
    color: var(--coffee);
    font-size: 1.5rem;
}

.search {
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--cream);
    padding: .8rem 2rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
}