* {
    margin: 0;
    border: 0;
}

:root {
    --cream: #eee;
    --gray: #a1a1a1;
    --teal: #bafffa;
    --dteal: #96dadf;
    --coffee: #38231c;
    --bg: #202020;
  }

  body {
    background-image: url('img/filmbg.png');
    background-color: var(--bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
    min-height: 100vh;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: var(--gray);
    font-weight: 800;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--dteal);
  }
  
p {
    color: var(--cream);
    text-align: center;
    margin-top: 30px;
  }

div {
    color: var(--cream);
    text-align: center;
}

  h1 {
    font-weight: 800;
    color: var(--teal);
    font-size: 2em;
    padding: 5px;
    margin: 15px;
    text-align: center;
    line-height: normal;
  }
  
  h2,
  h3,
  h4 {
    font-weight: 600;
    color: var(--dteal);
    font-size: 1.5em; 
    text-align: center;
    margin: 20px;
  }
  
  hr {
      border: 2px solid #4b4b4b;
  }

/************ Nav Bar ************/

nav {
    background-color: var(--cream);
    display: flex;
    width: 100%;
    z-index: 999;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.navname {
    margin-right: auto;
}

.navbar a.link {
    font-size: 1.5em;
    color: var(--bg);
    padding: 20px;
}
  
.navbar a:hover {
    color: var(--dteal);
}
  
.navbar a.active {
    background-color: var(--bg);
}

/************ content ************/

.content {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro {
    text-align: center;
}

path:hover{
    fill:red;
  }

.button {
    background-color: var(--dteal);
    color: var(--bg);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    margin: 20px;
}

.button:hover {
    background-color: var(--teal);
    color: var(--bg);
}


/************ Top Movies Content ************/

.movie {
    width: 350px;
    margin: 2rem;
    border-radius: 3px;
    background-color: var(--gray);
    position: relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

.movie-info{
    color:#202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem .9rem .5rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    color: var(--bg);
    font-weight: 700px;
    font-size: 1.8rem;
    line-height: .3in;
}

.movie-info span{
    background-color: rgb(94, 93, 93);
    padding: 0.6rem 0.8rem;
    border-radius: 3px;
    font-weight: 900px;
    font-size: 2rem;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-500%);
    transition: transform 0.3s ease-in;
    background-color: var(--cream);
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1.5rem;
    max-height: 100%; 
}
    
.movie:hover .overview{
    transform: translateY(0);
}

.overview h3{
    color: var(--gray);
}

.overview p{
    color: var(--coffee);
    font-size: 1.5rem;
}

.search {
    background-color: transparent;
    border: 2px solid var(--cream);
    padding: .8rem 3.5rem;
    margin: 1.5rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    border: var(--bg) solid 1px;
    font-size: 1.5rem;
}

/************ footer ************/

footer  {
    text-align: center;
    margin-top: auto;
    background-color: var(--cream);
    color: var(--bg);
    padding: 20px;
}


/************ mobile responsiveness ************/

@media screen and (max-width: 800px) {
    ul.navbar a.right, 
    ul.navbar a {float: none;}
    .navbar a.link {
        font-size: 1em;
        color: var(--bg);
        padding: 10px;
    }
}